<p style="color: green"><%= notice %></p>

<h2 class="text-center m-4">Musicas</h2>

<div class="container justify-content-center shadow p-2">
  <div class="d-flex">
    <%= link_to new_musica_path, class: "d-flex align-items-center" do %>
      <%= image_tag "plus.png", size: "50", class: "mb-4" %><p class="fs-5 text-decoration-none mb-4">Adicionar Musica</p>
    <% end %>
  </div>
  <div class="">
    <table class="table table-striped">
      <thead class="bg-dark text-light">
      <tr>
        <th class="bg-dark text-light">Nome:</th>
        <th class="bg-dark text-light">Interprete:</th>
        <th class="bg-dark text-light">Tom original:</th>
        <th class="bg-dark text-light">Ultimo tom tocado:</th>
        <th class="bg-dark text-light">Bmp original:</th>
        <th class="bg-dark text-light">Ultimo bpm tocado:</th>
        <th class="bg-dark text-light">Obs:</th>
        <th class="bg-dark text-light">Ações</th>
      </tr>
      </thead>

      <div id="musicas">
        <% @musicas.each do |musica| %>
          <%= render musica %>
          
        <% end %>
      </div>

    </table>
  </div>
</div>
