<h1>Editing ministerio</h1>

<%= render "form", ministerio: @ministerio %>

<br>

<div>
  <%= link_to "Show this ministerio", @ministerio %> |
  <%= link_to "Back to ministerios", ministerios_path %>
</div>
