<p style="color: green" class="text-center"><%= notice %></p>

<h1>Ministerios</h1>

<div id="ministerios">
  <% @ministerios.each do |ministerio| %>
    <%= render ministerio %>
    <p>
      <%= link_to "Show this ministerio", ministerio %>
    </p>
  <% end %>
</div>

<%= link_to "New ministerio", new_ministerio_path %>
