<div id="<%= dom_id membro %>">
  <tr>

    <td>
      <%= membro.usuario.nome %>
    </td>
    
    <td>
      <% membro.usuario.tipo_skills.each do | skill | %>
      <%= image_tag "#{skill.nome.downcase}.png", size: "25x25", class: "ms-3" %>
      <% end %>
    </td>

    <td>
      <%= link_to "Show this membro", membro %>
    </td>

  </tr>

</div>
