<div id="<%= dom_id membro %>">
  <tr>

    <td>
      <%= link_to membro.usuario.nome, membro, class:"text-decoration-none fs-4" %>
    </td>
    
    <td>
      <% membro.usuario.tipo_skills.each do | skill | %>
        <%= image_tag "#{skill.nome.downcase}.png", size: "32x32", class: "ms-3" %>
      <% end %>
    </td>

  </tr>

</div>
