
<p style="color: green" class="text-center"><%= notice %></p>

<h1 class="text-center">Membros</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="rounded shadow p-3 m-2">
      <table class="table">
        <thead>
          <th class="col-3">Nome</th>
          <th class="col-6">Funções</th>
          <th class="col-3">Ações</th>  
        </thead>
        <div id="membros">
          <% @membros.each do |membro| %>
            <%= render membro %>
            <p>
              
            </p>
          <% end %>
        </div>

        <%= link_to "New membro", new_membro_path %>

        </tr>
      </table>
    </div>
  </div>
</div>
