<p style="color: green"><%= notice %></p>

<h1>Membros</h1>

<div id="membros">
  <% @membros.each do |membro| %>
    <%= render membro %>
    <p>
      <%= link_to "Show this membro", membro %>
    </p>
  <% end %>
</div>

<%= link_to "New membro", new_membro_path %>
