<h1>Editing tipo skill</h1>

<%= render "form", tipo_skill: @tipo_skill %>

<br>

<div>
  <%= link_to "Show this tipo skill", @tipo_skill %> |
  <%= link_to "Back to tipo skills", tipo_skills_path %>
</div>
