<p style="color: green" class="text-center"><%= notice %></p>

<h1>Instrumentos</h1>

<div id="tipo_skills">
  <% @tipo_skills.each do |tipo_skill| %>
    <%= render tipo_skill %>
    <p>
      <%= link_to "Show this tipo skill", tipo_skill %>
    </p>
  <% end %>
</div>

<%= link_to "New tipo skill", new_tipo_skill_path %>
