<h1 class="text-center m-4">Editar escala</h1>

<%= render "form", escala: @escala %>

<br>

<div>
  <%= link_to "Show this escala", @escala %> |
  <%= link_to "Back to escalas", escalas_path %>
</div>
