@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';




.menu-item-profile {
  text-decoration: none;
  font-weight: 600;
}

.menu-item-profile li:hover {
  background-color: #e4e4e4;
}

.input_image_full {
  width: 100%;
}

.paleta {
  background-color: #1089ff;
  
}


header{
  width: 93%;
}

.navbar-brand {
  color: #0359af;
}



.nav-link {
  color: #4f96dd;
}