<h1 class="text-center mt-3">Cadastrar nova versão</h1>

<div class="col-11 col-lg-7 rounded shadow center p-3 m-3 mt-3 justify-content-center">
  <%= render "form", versao: @versao %>
</div>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Voltar", @musica, class: "btn btn-secondary m-2" %>
</div>
