<div class="container bg-secondary">    
  <div class="row mt-3 shadow">  
    <div class="justify-content-center">
      <h6 class="text-center text-light m-5">&reg; Desenvolvido por Samuel Oliveira</h6>
    </div>
  </div>
</div>